# Example: Override respecConfig for W3C deployment and validators.
name: Echidna Auto-publish test 2
on:
  pull_request:
    paths: ["spec/**"]
  push:
    branches: [main]
    paths: ["spec/**"]
  workflow_dispatch:
jobs:
  main:
    name: Echidna Auto-publish CG-DRAFT test 2
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Generate index.bs
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/spec:/app/run \
            -e PYTHON_SCRIPT="./run/create-markdown.py"
            -e SOURCE_DIRECTORY="./run/src" \
            -e TEMPLATE_FILE="./run/index_TEMPLATE.bs" \
            -e OUTPUT_FILE="./run/index.bs" \
            hochstenbach/n3builtins-gen_bs:v0.0.1

      - name: Publish to GitHub Pages
        uses: w3c/spec-prod@v2
        with:
          TOOLCHAIN: bikeshed
          SOURCE: spec/index.bs
          VALIDATE_LINKS: false
          VALIDATE_MARKUP: false
          BUILD_FAIL_ON: nothing
          GH_PAGES_BRANCH: gh-pages
          DESTINATION: index.html
          GH_PAGES_BUILD_OVERRIDE: |
            status: w3c/CG-FINAL
            TR: https://w3c-cg.github.io/n3Builtins/
